@charset "UTF-8";body,ul,li,ol,dl,dt,dd,p,fieldset,legend,input,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
ul,li{list-style:none}
a{text-decoration:none;color:#000}
img{vertical-align:bottom}
table{border-collapse:collapse;border-spacing:0}
body{font:12px "微软雅黑"}
.com-bg{width:1190px;margin:0 auto}
.clear:after{content:"";display:block;overflow:hidden;visibility:hidden;height:0;clear:both}
.header{border-bottom:1px solid #dfdfdf}
.header-bg{height:30px}
.h-left{float:left}
.h-right{float:right}
.header li{float:left;padding:7px 10px 0 0}
.header a{display:block;font-size:12px;color:#ccc;line-height:16px}
.header a:hover{color:#000}
.header .h-bd a:hover{color:#ccc}
.top{padding-top:15px}
.top h1{float:left;font-size:14px;color:#ccc}
.top h1 a{display:block;text-indent:-9999px;width:70px;height:70px;background:url(../../images/logo.png)}
.t-left{height:80px;float:right}
.t-l-search{padding:30px 0 10px 0;position:relative;float:left}
.t-l-s-input input{float:left;width:350px;height:38px;line-height:38px;border:1px solid #dfdfdf;padding-left:5px}
.t-l-s-input span{float:left;display:block;width:38px;line-height:38px;border:1px solid #dfdfdf;border-left:0;text-align:center;cursor:pointer;font-size:20px}
.t-l-s-input span:hover{color:#fff;background:#f00}
.t-l-s-links{position:absolute;right:49px;top:40px}
.search_list_btn{cursor:pointer}
.t-l-s-links a{padding:2px 5px;background:#f3f3f3}
.t-l-cart{margin:30px 0 0 10px;float:left;position:relative;line-height:40px;text-align:center}
.t-l-cart .cart_car{display:block;width:125px;height:38px;background:#ffdb3d;border:1px solid #fff;position:relative;z-index:10}
.t-l-cart:hover .cart_car{border-color:#f00;border-bottom:0;height:50px;background:#fff;color:#f00}
.t-l-cart:hover .t-l-c-content{right:0}
.t-l-c-content{padding:10px;width:330px;min-height:100px;line-height:100px;text-align:center;border:1px solid #f00;position:absolute;right:9999px;top:50px;z-index:9;background:#fff}
.cartOverflow{width:100%;max-height:350px;overflow:auto;line-height:14px}
#cartTab{width:100%;border:0!important}
table{border-collapse:collapse;border-spacing:0}
#cartTab td{border:0;overflow:hidden;padding:10px 5px;border-bottom:1px solid #dfdfdf}
#cartTab a{font-size:12px;line-height:14px}
#cartTab a:hover{color:#f00}
.cartbox a{text-decoration:none;color:black}
.autoDiv{padding:10px 15px}
.autoDiv{line-height:16px}
.left{float:left}
div span{color:#c3c3c3}
div label{color:#f00;text-align:center}
.right{float:right}
.cartbox a{text-decoration:none;color:black}
.check_out_btn{display:inline-block;width:130px;height:36px;line-height:36px;text-align:center;background:#f00;font-size:14px}
.check_out_btn:hover{background:#e00000}
.navW{height:50px;background:#404144}
.nav-menu{float:left;width:246px;background:#f00;position:relative}
.nav-m-title{display:block;line-height:50px;padding:0 25px;font-size:18px;font-weight:bold;color:#fff}
.nav-m-links{position:absolute;top:50px;left:0;z-index:999;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;background:#fff}
.nav-m-link{border-bottom:1px solid #dfdfdf;position:relative}
.nav-m-link:hover .nav-m-l-show{border-color:#f00;background:#fafafa}
.nav-m-link:hover .nav-m-l-hidden{left:245px}
.nav-m-l-show{width:226px;height:73px;border-left:3px solid #fff;padding-left:16px}
.nav-m-l-show a{font-size:14px}
.nav-m-l-h3{display:block;width:217px;padding:15px 0 1px 0;color:#f00}
.nav-m-l-span{display:inline-block;padding-right:10px}
.nav-m-l-span:hover{color:#f00}
.nav-m-l-hidden{position:absolute;left:-9999px;top:0;z-index:999;border:1px solid #dfdfdf;background:#fff}
.nav-m-l-hidden li{padding:16px 10px;width:230px;height:41px}
.nav-m-l-hidden li:hover{background:#f3f3f3}
.nav-m-l-hidden a{display:block}
.nav-m-l-hidden span{line-height:40px}
.nav-links{float:left;position:relative}
.nav-links li{float:left;text-align:center}
.nav-links .nav-link{display:block;line-height:50px;padding:0 23px;color:#fff;font-size:18px;border-right:1px solid #404144}
.nav-link-child{display:inline-block;border:6px solid #fff;border-color:transparent;border-bottom-color:#fff;position:absolute;bottom:9999px}
.nav-links li:hover .nav-link{background:#000}
.nav-links li:hover .nav-link-child{bottom:0}
.nav-links li:hover .nav-l-content{left:2px}
.nav-links .active{background:#000}
.nav-l-content{position:absolute;left:-9999px;top:50px;width:944px;background:#fff;z-index:999}
.nav-l-content li{border-left:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf}
.nav-l-content a{display:block;width:350px;padding:20px 60px}
.nav-l-conteng img{float:left}
.nav-l-c-text{float:right;width:180px}
.nav-l-content h4{font-size:20px;margin-bottom:15px}
.nav-l-content p{color:#ccc;font-size:14px;margin-bottom:15px}
.nav-l-content strong{color:#ff4a00;font-weight:bold;font-size:18px}
.nav-l-content span{color:#ff4a00}
.footer{background:#fafafa;color:#333}
.f_top{padding:40px 0;border-bottom:1px solid #ccc}
.f_t_ul li{float:left;width:25%}
.f_t_ul a{display:block;text-align:center}
.f_t_ul i{display:block;margin:0 auto;width:40px;height:32px;background:url(../../images/footer.png) no-repeat}
.f_t_ul strong{display:block;font-size:18px;font-weight:100;padding:5px 0}
.f_t_li2 i{width:32px;background:url(../../images/footer.png) no-repeat -40px 0}
.f_t_li3 i{width:32px;background:url(../../images/footer.png) no-repeat -72px 0}
.f_t_li4 i{width:32px;background:url(../../images/footer.png) no-repeat -104px 0}
.f_t_li1:hover i{background:url(../../images/footer.png) no-repeat 0 -32px}
.f_t_li2:hover i{background:url(../../images/footer.png) no-repeat -40px -32px}
.f_t_li3:hover i{background:url(../../images/footer.png) no-repeat -72px -32px}
.f_t_li4:hover i{background:url(../../images/footer.png) no-repeat -104px -32px}
.f_m_ul{float:left}
.f_m_ul li{margin-left:20px;width:162px;height:137px;float:left;border-right:1px solid #ccc}
.f_m_u_title{font-size:16px;margin-bottom:20px;color:#333}
.f_m_ul a{line-height:24px;color:#999;display:block}
.f_m_ul a:hover{color:#f00}
.f_m_tel{float:left;text-align:center;font-size:14px;padding:5px 50px}
.f_m_tel strong{font-size:20px;display:block}
.f_m_tel p{color:#333;margin:10px 0}
.f_m_tel a{display:block;width:150px;line-height:40px;text-align:center;color:#fff;background:#f00}
.f_m_tel a:hover{background:#e80000}
.f_bottom{padding-top:40px}
.f_b_ul li{float:left}
.f_b_ul a{color:#333;padding:0 5px}
.f_b_img{margin:5px 0}
.f_b_img a{height:20px;display:inline-block}
.f_b_img1{width:58px;background:url(../../images/ba.png);background-size:58px 20px}
.f_b_img2{width:48px;background:url(../../images/bz.png);background-size:48px 20px}
.f_b_ba{margin-top:5px}
.f_b_ba a{float:left;margin-right:5px}
.f_b_ba a:hover{color:#f00}
.f_b_cnzz{width:20px;height:20px;display:block;background:url(../../images/pic1.gif)}
.sildbar{position:fixed;right:5px;bottom:30px;height:253px;overflow:hidden}
.sildbar_ul{border:1px solid #ccc;overflow:256px}
.sildbar_ul li{border-bottom:1px solid #ccc}
.sildbar_ul a{width:62px;padding-top:40px;height:22px;display:block;text-align:center}
.onSale{background:#fff url(../../images/icon_sidebar.png) no-repeat 16px 6px}
.sh{background:#fff url(../../images/icon_sidebar.png) no-repeat 16px -64px}
.wx{background:#fff url(../../images/icon_sidebar.png) no-repeat 16px -134px}
a.returntop{display:none;cursor:pointer;background:#fff url(../../images/icon_sidebar.png) no-repeat 16px -204px}
.onSale:hover{background:#fff url(../../images/icon_sidebar.png) no-repeat -74px 6px}
.sh:hover{background:#fff url(../../images/icon_sidebar.png) no-repeat -74px -64px}
.wx:hover{background:#fff url(../../images/icon_sidebar.png) no-repeat -74px -134px}
.returntop:hover{background:url(../../images/icon_sidebar.png) no-repeat -74px -204px}
.nav-m-links{top:-9999px}
.nav-links a.active{background:#404144}
.proList{padding-bottom:20px}
.pro_ul li{float:left;width:297px;list-style:none;height:362px;position:relative;overflow:hidden;z-index:1}
.pro_ul li:hover{overflow:visible;z-index:2;cursor:pointer}
.pro_li{border:6px solid #fff;height:402px;background:#fff}
.pro_li:hover{border:6px solid #f3f3f3}
.item-thumb{margin:0 auto;padding:40px 0 15px 0;text-align:center}
.item-info{padding:0 15px}
.item-info h3{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.item-info h3 a:hover{text-decoration:none;color:#f00}
.item-info .item_price{padding:3px 0;color:#333}
.item_price{padding:3px 0}
.item_star{border-bottom:1px solid #dfdfdf;padding-bottom:10px}
.score10{width:60px;height:20px;background:url(../../images/review.gif) 0 -363px no-repeat}
.pro_btn{padding-top:10px}
.ad{display:inline-block;width:110px;height:28px;line-height:28px;text-align:center;background:#F00;color:#fff}
.ad2{background:#666;margin-left:15px}
div.pagination{height:20px;float:right;margin:60px 0 10px 0}
div.pagination a,div.pagination span{height:18px;line-height:18px;display:inline;float:left;margin-left:3px;text-align:center;vertical-align:middle;white-space:nowrap;outline:0;blr:expression(this.hideFocus = true)}
div.pagination a.firstPage,div.pagination a.previousPage{width:18px;border:1px solid #ccc;color:#ccc}
div.pagination .currentPage{padding:0 5px;color:#F00!important;font-weight:bold;cursor:default;border:1px solid #F00}
div.pagination a{padding:0 5px;border:1px solid #ccc}
div.pagination a.next_bg2{color:#F00;padding:0 0 0 5px;width:15px}
